@font-face {
  font-family: "Shrikland";
  src: url("../../public/assets/polices/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../public/assets/polices//Roboto/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}

.header__logo, .footer__logo, .menu-header__title {
  font-family: Shrikland;
}

body {
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navigation-icon {
  position: absolute;
  top: 24.75px;
  left: 15px;
}

/*@include old-mobile {
        color: map-get($colors, color-tertiary);
    }*
*/
.footer {
  color: white;
  background-color: #353535;
  padding: 15px;
}
.footer__logo {
  margin-top: 0px;
}

.footer-navigation__icon {
  width: 16px;
  margin-right: 5px;
}

button {
  background: linear-gradient(355deg, #9356DC 25%, #FF79DA 100%);
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 35px;
  border: none;
  border-radius: 15px;
  color: white;
}

.location {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.location__icon {
  margin-right: 15px;
}

.explore {
  text-align: center;
  padding: 30px;
  background-color: #f6f6f6;
}
.explore__title {
  margin: 0px;
  padding: 0 15px 0 15px;
}

.howitworks {
  max-width: 250px;
  margin: auto;
  margin-top: 25px;
  padding: 15px 15px 15px 25px;
}
.howitworks__title {
  margin-bottom: 20px;
  position: relative;
  left: -10px;
}

.explanation {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 15px;
}
.explanation:hover {
  background-color: #f2eafb;
}
.explanation:hover i {
  color: #9356DC;
}
.explanation__number {
  color: white;
  position: relative;
  left: -10px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9356DC;
}

.instruction {
  font-weight: bold;
}
.instruction__icon {
  margin: 0 20px 0 10px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 15px;
}

.restaurant {
  max-width: 350px;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 15px;
}

.restaurant-image {
  position: relative;
}
.restaurant-image__img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.restaurant-image__new {
  width: 25%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #278870;
  background-color: #99E2D0;
}

.restaurant-miscellanous {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.restaurant-infos__title {
  margin: 0px;
}
.restaurant-infos__description {
  margin: 5px 0 0 0;
}

button {
  background: linear-gradient(355deg, #9356DC 25%, #FF79DA 100%);
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 35px;
  border: none;
  border-radius: 15px;
  color: white;
}

.body {
  background-color: #f6f6f6;
}

.menu-illustration__img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -35px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 15px;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  background-color: #f6f6f6;
}
.menu__order {
  text-align: center;
  margin: 50px 0 15px 0;
}

.menu-content__set {
  font-weight: lighter;
}
.menu-content__set:not(.menu-content__set:nth-child(1)) {
  margin-top: 50px;
}

.choice-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
}

.choice-description__title {
  margin-top: 0px;
}
.choice-description__content {
  margin: 0px;
}

.choice-price__value {
  font-weight: bold;
  margin: 0px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
