@font-face {
  font-family: "Shrikland";
  src: url("../../assets/polices/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/polices/Roboto-Regular.ttf");
}
* {
  font-family: Roboto;
}

.header__logo, .footer__logo, .menu-header__title {
  font-family: Shrikland;
}

body {
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.header__navigation-icon {
  position: absolute;
  top: 24.75px;
  left: 15px;
}
@media screen and (min-width: 992px) {
  .header__navigation-icon {
    top: 40px;
  }
}
.header a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  color: white;
  background-color: #353535;
  padding: 15px;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer__logo {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .footer ul li {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .footer ul li {
    width: 22%;
  }
}

.footer-navigation__icon {
  width: 16px;
  margin-right: 5px;
}

button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient(355deg, #9356DC 25%, #FF79DA 100%);
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 35px;
  border: none;
  border-radius: 15px;
  color: white;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in-out;
  background: linear-gradient(355deg, #a16be0 25%, #ff93e1 100%);
}
@media screen and (min-width: 992px) {
  button::after {
    border-radius: 20px;
  }
}
@media screen and (min-width: 992px) {
  button {
    font-size: 18px;
    width: 220px;
    height: 60px;
    border-radius: 20px;
  }
}

.love {
  position: relative;
}
.love:hover .love__solid {
  opacity: 1;
}
.love__regular {
  color: #9356DC;
}
.love__solid {
  color: #9356DC;
  position: absolute;
  top: 7px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
@media screen and (min-width: 992px) {
  .love__solid {
    top: 9px;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  animation: fade 0s 3s linear forwards;
  animation-direction: reverse;
}
.loader__container {
  padding: 40px;
  border: 6px solid #9356DC;
  border-bottom-color: transparent;
  border-radius: 100px;
  animation: loader 1s linear 3;
  height: 0;
  width: 0;
}

.content {
  animation: fade 0s 3s linear backwards;
  max-width: 1500px;
  margin: auto;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #eaeaea;
}
.location__icon {
  margin-right: 15px;
}

.explore {
  text-align: center;
  padding: 30px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) {
  .explore {
    padding: 65px 30px 65px 30px;
  }
}
.explore__title {
  margin: 0px;
  padding: 0 15px 0 15px;
}

.howitworks-part {
  max-width: 250px;
  margin: auto;
  padding: 45px 15px 45px 15px;
}
.howitworks-part__title {
  margin-bottom: 20px;
  position: relative;
  left: -10px;
}
@media screen and (min-width: 768px) {
  .howitworks-part__title {
    text-align: center;
    margin-bottom: 30px;
    left: 0px;
  }
}
@media screen and (min-width: 992px) {
  .howitworks-part {
    max-width: 100%;
    padding: 65px 15px 65px 15px;
  }
}

@media screen and (min-width: 992px) {
  .howitworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

.explanation {
  position: relative;
  z-index: 1;
  cursor: pointer;
  max-width: 288px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 15px;
}
.explanation:hover::after, .explanation:hover .instruction-icons__colored {
  opacity: 1;
}
.explanation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in-out;
  background-color: #f2eafb;
}
@media screen and (min-width: 992px) {
  .explanation::after {
    border-radius: 30px;
  }
}
.explanation__number {
  color: white;
  position: relative;
  left: -10px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #9356DC;
}
@media screen and (min-width: 992px) {
  .explanation__number {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
@media screen and (min-width: 992px) {
  .explanation {
    width: 30%;
    max-width: 320px;
    margin-bottom: 0px;
    height: 103px;
    border-radius: 30px;
  }
}

.instruction {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  font-weight: bold;
}

.instruction-icons {
  position: relative;
}
.instruction-icons i {
  margin: 0 20px 0 10px;
}
.instruction-icons__colored {
  position: absolute;
  top: 0;
  left: 0;
  color: #9356DC;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
@media screen and (min-width: 992px) {
  .instruction-icons__colored {
    top: 2px;
  }
}

.restaurants-part {
  background-color: #f6f6f6;
  padding: 45px 15px 45px 15px;
}
.restaurants-part__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .restaurants-part__title {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .restaurants-part {
    padding: 65px 15px 65px 15px;
  }
}

@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.restaurant {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: auto auto 20px auto;
  background-color: white;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurant:hover::after {
  opacity: 1;
}
.restaurant::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .restaurant {
    width: 44%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant {
    width: 22%;
  }
}

.restaurant-image {
  position: relative;
  max-height: 150px;
}
.restaurant-image__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.restaurant-image__img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.restaurant-image__new {
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #278870;
  background-color: #99E2D0;
}

.restaurant-miscellanous {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
}
@media screen and (min-width: 992px) {
  .restaurant-miscellanous {
    height: 110px;
  }
}

.restaurant-infos {
  padding-top: auto;
  width: 80%;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.restaurant-infos__link {
  position: absolute;
  top: -15px;
  bottom: -15px;
  left: -15px;
  right: 0;
}
.restaurant-infos__title {
  margin: 0px;
}
.restaurant-infos__description {
  margin: 5px 0 0 0;
}

button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient(355deg, #9356DC 25%, #FF79DA 100%);
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  width: 175px;
  height: 35px;
  border: none;
  border-radius: 15px;
  color: white;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.6);
  transition: opacity 250ms ease-in-out;
  background: linear-gradient(355deg, #a16be0 25%, #ff93e1 100%);
}
@media screen and (min-width: 992px) {
  button::after {
    border-radius: 20px;
  }
}
@media screen and (min-width: 992px) {
  button {
    font-size: 18px;
    width: 220px;
    height: 60px;
    border-radius: 20px;
  }
}

.love {
  position: relative;
}
.love:hover .love__solid {
  opacity: 1;
}
.love__regular {
  color: #9356DC;
}
.love__solid {
  color: #9356DC;
  position: absolute;
  top: 7px;
  left: 0;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
@media screen and (min-width: 992px) {
  .love__solid {
    top: 9px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes movemenu {
  from {
    top: 50px;
  }
  to {
    top: 0px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body {
  background-color: #f6f6f6;
  max-width: 1500px;
  margin: auto;
}

.menu-illustration__img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.menu {
  position: relative;
  top: -35px;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  padding: 15px;
  background-color: #f6f6f6;
}
.menu__order {
  text-align: center;
  margin: 50px 0 15px 0;
}
@media screen and (min-width: 768px) {
  .menu {
    border-radius: 35px 35px 0px 0px;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    padding: 65px 15px 65px 15px;
  }
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .menu-header {
    justify-content: space-around;
  }
}

.menu-content {
  max-width: 410px;
  margin: auto;
}
.menu-content__set {
  font-weight: lighter;
  margin: 50px 0px 40px 0px;
}
@media screen and (min-width: 768px) {
  .menu-content {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .menu-content {
    max-width: 1400px;
  }
}

@media screen and (min-width: 768px) {
  .menu-group {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .menu-group {
    width: 30%;
  }
}

.choice-content {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px 3px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out backwards, movemenu 1s ease-in-out backwards;
}
.choice-content--1 {
  animation-delay: 125ms;
}
.choice-content--2 {
  animation-delay: 250ms;
}
.choice-content--3 {
  animation-delay: 375ms;
}
.choice-content--4 {
  animation-delay: 500ms;
}
.choice-content--5 {
  animation-delay: 625ms;
}
.choice-content--6 {
  animation-delay: 750ms;
}
.choice-content--7 {
  animation-delay: 875ms;
}
.choice-content--8 {
  animation-delay: 1000ms;
}
.choice-content--9 {
  animation-delay: 1125ms;
}
.choice-content--10 {
  animation-delay: 1250ms;
}
.choice-content:hover .choice-button {
  transform: translateX(-75px);
}
.choice-content:hover .choice-description {
  width: 60%;
}
.choice-content:hover .choice-validation__check {
  animation: rotate 350ms ease-in-out both;
}
@media screen and (min-width: 992px) {
  .choice-content {
    padding: 30px 10px 30px 10px;
  }
}

.choice-description {
  width: 90%;
  transition: width 250ms ease-in-out;
}
.choice-description__title, .choice-description__content {
  margin-top: 0px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choice-description__content {
  margin: 0px;
}

.choice-price {
  width: 10%;
}
.choice-price__value {
  font-weight: bold;
  margin: 0px;
}

.choice-button {
  text-align: center;
  line-height: 45.3667px;
  position: absolute;
  top: 0;
  right: -75px;
  background-color: #99E2D0;
  height: 46.3667px;
  padding: 10px 0 10px 0;
  width: 75px;
  transform-origin: right;
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 992px) {
  .choice-button {
    height: 108.4px;
    line-height: 108.4px;
  }
}

.choice-validation {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  background-color: white;
  border-radius: 50px;
}
.choice-validation__check {
  color: #99E2D0;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin-bottom: 5px;
}

h2 {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
