@import "../utils/mixins";

button {
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(355deg, map-get($colors, color-primary) 25%, map-get($colors, color-secondary) 100%);
    @include boxshadow;
    width: 175px;
    height: 35px;
    border: none;
    border-radius: 15px;
    color: white;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include boxshadowhover;
        background: linear-gradient(355deg, lighten(map-get($colors, color-primary), 5) 25%, lighten(map-get($colors, color-secondary), 5) 100%);
        @include tablet {
            border-radius: 20px;
        }
    }
    @include tablet {
        font-size: 18px;
        width: 220px;
        height: 60px;
        border-radius: 20px;
    }
}