@import "../utils/mixins";

.love {
    position: relative;
    &:hover &__solid {
        opacity: 1;
    }
    &__regular {
        color:map-get($colors, color-primary);
    }
    &__solid {
        color: map-get($colors, color-primary);
        position: absolute;
        top: 7px;
        left: 0;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
        @include tablet {
            top: 9px;
        }
    }
}