@font-face {
    font-family: 'Shrikland';
    src: url('../../public/assets/polices/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/assets/polices//Roboto/Roboto-Regular.ttf');
}