@font-face {
    font-family: 'Shrikland';
    src: url('../../assets/polices/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/polices/Roboto-Regular.ttf');
}