@import "./font";
@import "../utils/mixins";

* {
    font-family: Roboto;
}

.header__logo, .footer__logo, .menu-header__title {
    font-family: Shrikland;
}

body {
    font-size: 12px;
    @include tablet {
        font-size: 18px;
    }
}