@import "../layouts/header";
@import "../layouts/footer";
@import "../components/button";
@import "../utils/variables";
@import "../utils/mixins";

.location {
    text-align: center; // dup .explore, header, explanation
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, background-primary-color);
    &__icon {
        margin-right: 15px;
    }
}

.explore {
    text-align: center; 
    padding: 30px;
    background-color: map-get($colors, background-secondary-color);
    &__title {
        margin: 0px;
        padding: 0 15px 0 15px;
    }
}

.howitworks {
    max-width: 250px;
    margin: auto;
    margin-top: 25px;
    padding: 15px 15px 15px 25px;
    &__title {
        margin-bottom: 20px;
        position: relative;
        left: -10px;
    }
}

.explanation {
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: map-get($colors, background-secondary-color);
    -webkit-box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1); //dup
    box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    border-radius: 15px;  // dup comp button
    &:hover {
        background-color: lighten(map-get($colors, color-primary), $amount: 35);
    }
    &:hover i {
        color: map-get($colors, color-primary);
    }
    
    &__number {
        color: white;
        position: relative;
            left: -10px;
        line-height: 20px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: map-get($colors, color-primary);
    }
}

.instruction {
    font-weight: bold;
    &__icon {
    margin: 0 20px 0 10px;
    }
}

.restaurants {
    background-color: map-get($colors, background-secondary-color);
    padding: 15px;
}

.restaurant {
    max-width: 350px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1); 
    box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border-radius: 15px;
}

.restaurant-image {
    position: relative;
    &__img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    &__new {
        width: 25%;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 20px;
        color: darken(map-get($colors, color-tertiary), $amount: 40);
        background-color: map-get($colors, color-tertiary);
    }
}

.restaurant-miscellanous {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.restaurant-infos {
    &__title {
        margin: 0px;
    }
    &__description {
        margin: 5px 0 0 0;
    }
}