@import "../layouts/header";
@import "../layouts/footer";
@import "../components/button";
@import "../components/love";
@import "../utils/variables";
@import "../utils/mixins";

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.loader {
    height: 100%;
    width: 100%;
    margin: auto;
    @include flex($justify: center, $align: center);
    position: absolute;
    animation: fade 0s 3s linear forwards;
    animation-direction: reverse;
    &__container {
        padding: 40px;
        border: 6px solid map-get($colors, color-primary);
        border-bottom-color: transparent;
        border-radius: 100px;
        animation: loader 1s linear 3;
        height: 0;
        width: 0;
    }
}

.content {
    animation: fade 0s 3s linear backwards;
    max-width: 1500px;
    margin: auto;
}

.location {
    @include flex($justify: center, $align: center);
    background-color: map-get($colors, background-primary-color);
    &__icon {
        margin-right: 15px;
    }
}

.explore {
    text-align: center; 
    padding: 30px;
    background-color: map-get($colors, background-secondary-color);
    @include tablet {
        padding: 65px 30px 65px 30px;
    }
    &__title {
        margin: 0px;
        padding: 0 15px 0 15px;
    }
}

.howitworks-part {
    max-width: 250px;
    margin: auto;
    padding: 45px 15px 45px 15px;
    &__title {
        margin-bottom: 20px;
        position: relative;
            left: -10px;
        @include mobile {
            text-align: center;
            margin-bottom: 30px;
            left: 0px;
        }
    }
    @include tablet {
        max-width: 100%;
        padding: 65px 15px 65px 15px;
    }
}

.howitworks {
    @include tablet {
        @include flex($justify: space-around);
    }
}

.explanation {
    position: relative;
    z-index: 1;
    cursor: pointer;
    max-width: 288px;
    height: 60px;
    text-align: center;
    @include flex($align: center);
    background-color: map-get($colors, background-secondary-color);
    @include boxshadow;
    margin-bottom: 30px;
    border-radius: 15px;
    &:hover {
        &::after, .instruction-icons__colored {
            opacity: 1;
        }
    }
    &::after {
        @include boxshadowhover;
        background-color: lighten(map-get($colors, color-primary), $amount: 35);
        @include tablet {
            border-radius: 30px;
        }
    }
    &__number {
        color: white;
        position: relative;
            left: -10px;
        line-height: 20px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: map-get($colors, color-primary);
        @include tablet {
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
    }
    @include tablet {
        width: 30%;
        max-width: 320px;
        margin-bottom: 0px;
        height: 103px;
        border-radius: 30px;
    }
}

.instruction {
    @include flex;
    font-weight: bold;
}

.instruction-icons {
    position: relative;
    & i {
        margin: 0 20px 0 10px;
    }
    &__colored {
        position: absolute;
            top: 0;
            left: 0;
        color: map-get($colors, color-primary);
        opacity: 0;
        transition: opacity 250ms ease-in-out;
        @include tablet {
            top: 2px;
        }
    }
}

.restaurants-part {
    background-color: map-get($colors, background-secondary-color);
    padding: 45px 15px 45px 15px;
    &__title {
        margin-bottom: 30px;
        @include mobile {
            text-align: center;
        }
    }
    @include tablet {
        padding: 65px 15px 65px 15px;
    }
}

.restaurants {
    @include mobile {
        @include flex($wrap: wrap);
    }
}

.restaurant {
    position: relative;
    z-index: 1;
    max-width: 350px;
    margin: auto auto 20px auto;
    background-color: white;
    @include boxshadow;
    border-radius: 15px;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include boxshadowhover;
    }
    @include mobile {
        width: 44%;
    }
    @include tablet {
        width: 22%;
    }
}

.restaurant-image {
    position: relative;
    max-height: 150px;
    &__link {
        position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
    }
    &__img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    &__new {
        cursor: pointer;
        padding: 3px 10px 3px 10px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        position: absolute;
            top: 20px;
            right: 20px;
        color: darken(map-get($colors, color-tertiary), $amount: 40);
        background-color: map-get($colors, color-tertiary);
    }
}

.restaurant-miscellanous {
    @include flex($justify: space-between, $align: center);
    padding: 15px;
    @include tablet {
        height: 110px;
    }
}

.restaurant-infos {
    padding-top: auto;
    width: 80%;
    height: inherit;
    position: relative;
    @include flex($direction: column, $justify: center);
    &__link {
        position: absolute;
            top: -15px;
            bottom: -15px;
            left: -15px;
            right: 0;
    }
    &__title {
        margin: 0px;
    }
    &__description {
        margin: 5px 0 0 0;
    }
}