@import "../utils/variables";
@import "../utils/mixins";
@import "../components/button";
@import "../components/love";

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes movemenu {
    from {
        top: 50px;
    }
    to {
        top: 0px
    }
}

@keyframes rotate {
    from {
        transform: rotate(90deg); 
    }
    to {
        transform: rotate(360deg);
    }
}

.body {
    background-color: map-get($colors, background-secondary-color);
    max-width: 1500px;
    margin: auto;
}

.menu-illustration {
    &__img {
        height: 225px;
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    position: relative;
        top: -35px;
    background-color: white;
    border-radius: 25px 25px 0px 0px;
    padding: 15px;
    background-color: map-get($colors, background-secondary-color);
    &__order {
        text-align: center;
        margin: 50px 0 15px 0;
    }
    @include mobile {
        border-radius: 35px 35px 0px 0px;
    }
    @include tablet {
        padding: 65px 15px 65px 15px;
    }
}

.menu-header {
    @include flex($justify: space-between, $align: center);
    @include mobile {
        justify-content: space-around;
    }
}

.menu-content {
    max-width: 410px;
    margin: auto;
    &__set {
        font-weight: lighter;
        margin: 50px 0px 40px 0px;
    }
    @include mobile {
        max-width: 1000px;
        @include flex($justify: space-around, $wrap: wrap);
    }
    @include tablet {
        max-width: 1400px;
    }
}

.menu-group {
    @include mobile {
        width: 45%;
    }
    @include tablet {
        width: 30%;
    }
}

.choice-content {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    @include flex($align: flex-end);
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 8px 15px 3px rgba(0,0,0,0.1);
    animation: fadeIn 1s ease-in-out backwards, movemenu 1s ease-in-out backwards;
    $anim-delay: 125ms;

    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    &:hover {
        .choice-button {
            transform: translateX(-75px);
        }
        .choice-description {
            width: calc(100% - 23px - 75px);
        }
        .choice-validation__check {
            animation: rotate 350ms ease-in-out both;
        }
    }
    @include tablet {
        padding: 30px 10px 30px 10px;
    }
}

.choice-description {
    width: calc(100% - 23px);
    transition: width 250ms ease-in-out;
    &__title, &__content {
        margin-top: 0px;
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    &__content {
        margin: 0px;
    }
}

.choice-price {
    width: 10%;
    &__value {
        font-weight: bold;
        margin: 0px;
    }
}

.choice-button {
    text-align: center;
    line-height: 45.3667px;
    position: absolute;
        top: 0;
        right: -75px;
    background-color: map-get($colors, color-tertiary);
    height: 46.3667px;
    padding: 10px 0 10px 0;
    width: 75px;
    transform-origin: right;
    transition: transform 250ms ease-in-out;
    @include tablet {
        height: 108.4px;
        line-height: 108.4px;
    }
}

.choice-validation {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: white;
    border-radius: 50px;
    &__check {
        color: map-get($colors, color-tertiary);
    }
}